html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  display: block;
  overflow: auto;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid rgba(243, 148, 148, 0.3);
}

.header-link {
  padding: 5px;
  font-size: 1.5rem;
  color: purple;
}

.homepage {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 50px 30px;
  font-size: 2rem;
}

.chat-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dialogue-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  font-size: 1.5rem;
  padding: 10px;
  margin: 8px;
}

.chat-message {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.message-content {
  display: block;
}

.input-form > * {
  padding: 0px 10px;
  margin: 5px;
}

.form-group {
  float: left;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-control {
  font-size: 1.5rem;
  padding: 20px 0px 20px 15px;
}

.video-container {
  display: flex;
  flex-grow: 1;
}

.video-element {
  margin: 5px;
  flex-grow: 1;
}

.create-account-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-account-form {
  display: flex;
  justify-content: center;
}

.create-account-form > * {
  margin: 5px;
}
